# Node.js dependencies
js/node_modules/

# Yarn Plug'n'Play files
.pnp.*
.js/.pnp.*

# Testing coverage reports
/coverage

# Production build files
/build

# macOS system files
.DS_Store

# Local environment files (.env files)
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn debug and error log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# API/Backend - Python virtual environment
api/env/

# Python bytecode compiled files
__pycache__/
*.py[cod]
*$py.class

# Other files and folders to ignore
# Add other files/folders below as needed