.epk-bio {
    scale: 80%;
    padding: 2rem;
    border-radius: 5%;
    border: .3rem solid #000000;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    max-width: 80rem;
    margin: auto;
}

.bioImg {
    height: 15rem;
    width: 15rem;
    border-radius: 30%;
    border: .3rem solid #eaeaca;
    background-color: #fff36f;
    padding: .5rem;
}

.bioTxt {
    font-size: 1.1rem;
    padding: 1.3rem;
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    /*font-weight: bold;*/
    max-width: 50rem;
}

.bioImgTxtDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
}
