.PressPhotos{
    justify-content: center;
    max-width: 70rem;
    margin: auto;
    text-align: center;
}

.epk-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pressImg {
    height: 30%;
    width: 30%;
    padding: 0.2rem;
    cursor: pointer;
}

.pressImg1 {
    height: 22.5%;
    width: 22.5%;
    padding: 0.2rem;
    cursor: pointer;
}

.pressImg4 {
    height: 20%;
    width: 20%;
    padding: 0.2rem;
    cursor: pointer;
}

.PressPhotos h1 {
    margin-bottom: 0;
}

.PressPhotos p {
    color: white;
    margin-top: 0;
}
