.epk-full {
    background-image: linear-gradient(to bottom right, #bf64f8, #a2942c);
    justify-content: center;
    margin: auto;
}

.epk-popTracksAudioPlayerDiv {
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
    position:relative;
    max-width: 90rem;
    margin: auto;
}




