* {
}

body {
    font-family: "Script MT Bold", monospace;
    background: #f2f2f2;
    margin: 0 10px;
}

.audio-player {
    background: linear-gradient(#aa9efc, #b180fa);
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
    scale: 75%;
    border-radius: 1rem;
    border: .1rem solid
}

.current-player {
    display: flex;
}

.audio-author-text {
    color: #000000;
    margin-top: .5rem;
}

.title {
    color: #000000;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}


.audio-image {
    width: 7rem;
    height: 7rem;
    background: #1e1e1e;
}


.audio-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.right-side-of-coverart {
    padding: 1rem;
}

/* controls */
.controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12rem;
    margin-top: -1rem;
}

.controls button, .volume button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button svg {
    font-size: 20px;
}

.volume {
    display: flex;
    align-items: center;
}

.volume button {
    margin: 0;
}

.progress {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    margin-top: -1.5rem;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 25rem;
    height: .5rem;
    border-radius: .1rem;
    border: .02rem solid #464545;
    background: #a8a8a8 linear-gradient(#ffffff, #d5fffd) no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    border-radius: 20%;
    background: #d5f8e6;
    cursor: pointer;
    box-shadow: 0 0 .16rem 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/* time */
.time {
    color: #ffffff;
    font-size: 11px;
    line-height: 46px;
    margin-right: .2rem;
}


/* TrackList */
.songsList {
    display: flex;
    padding: .2rem;
    border: 1px solid;
    border-radius: .4rem;
    background: linear-gradient(#a9d2de, #9da4d3);
    cursor: pointer;
}

.songsList-active {
    display: flex;
    padding: .2rem;
    border: 3px solid gold;
    border-radius: .4rem;
    background: #b1f8ff;
    cursor: pointer;
}

.songsList img, .songsList-active img {
    width: 3rem;
    height: 3rem;
    background: #1e1e1e;
}

.songsList p, .songsList-active p {
    color: #000000;
    font-weight: 100;
    padding-left: .4rem;
}

.songsListNumber {
    margin-right: .4rem;
}
